<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFID_SCD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup> 
    <userSettings>
        <RFID_SCD.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="SSID" serializeAs="String">
                <value>RFID_SCD</value>
            </setting>
        </RFID_SCD.Properties.Settings>
    </userSettings>
</configuration>